html {
    /* Base styles go here */
    font: 14px/1.5 Arial, sans-serif;
   }

body{
    margin: 0;
    padding: 0;
    background-color: rgb(243, 244, 246);
}

.section{
    background-color: white;
}

.avatar{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}